<div class="bar bar-footer">
  <div class="tabs">
	  {{#link-to 'ft-selection' class="tab-item"}}{{fa-icon icon="bullseye" size="2"}}{{/link-to}}
	  {{#link-to 'timer' class="tab-item"}}{{fa-icon icon="clock-o" size="2"}}{{/link-to}}
	  {{#link-to 'settings' class="tab-item"}}{{fa-icon icon="cog" size="2"}}{{/link-to}}
	</div>


</div>