<div class="bar bar-header bar-light">
  <h1 class="title">STV Fachteste</h1>
</div>

<div class="content with-padding">
	{{#link-to 'ft-allround' class="button button-dark button-block"}}FTA{{/link-to}}
	{{#link-to 'ft-korbball' class="button button-dark button-block"}}FTK{{/link-to}}
	{{#link-to 'ft-unihockey' class="button button-dark button-block"}}FTU{{/link-to}}
	{{#link-to 'ft-volleyball' class="button button-dark button-block"}}FTV{{/link-to}}
</div>


