<div class="bar bar-header">
	<a {{action 'goBack'}} class="button button-icon icon ion-ios-arrow-left"></a>
  <h1 class="title">Menu</h1>
</div>

<div class="content with-padding">
	<a class="button button-stable button-block">Speichern</a>
	<a class="button button-stable button-block">Neu</a>
</div>